#board {
  background: url("/images/bg.jpg") repeat;
  width: 800px;
  height: 600px;
  position: relative;
}
#board .player {
  background: url("/images/player1.png") no-repeat left bottom;
  position: absolute;
  width: 40px;
  height: 40px;
}
#identify .avatar {
  float: left;
  width: 40px;
  height: 40px;
  margin: 5px;
  border: solid 3px #eee;
}
#identify .avatar.player1 {
  background: url("/images/player1.png") no-repeat center bottom;
}
#identify .avatars .avatar:hover,
#identify .avatars .avatar.selected {
  border: solid 3px #faa;
}
#identify .name {
  clear: both;
}
#identify .players .player {
  clear: both;
}
