body,
html {
  padding: 0px;
  margin: 0px;
  background-color: #333;
}
#board {
  margin: 0 auto;
  background: url("/images/bg.jpg") repeat;
  border: solid 5px #333;
  width: 800px;
  height: 600px;
  position: relative;
  outline: none;
}
#board .player {
  -webkit-transition-property: top, left;
  -webkit-transition-property: top, left;
  -moz-transition-property: top, left;
  -o-transition-property: top, left;
  -ms-transition-property: top, left;
  transition-property: top, left;
  -ms-transition-property: top, left;
  -o-transition-property: top, left;
  -webkit-transition-duration: 500ms;
  -moz-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  -ms-transition-duration: 500ms;
  transition-duration: 500ms;
  background: url("/images/player1.png") no-repeat -150px -150px;
  position: absolute;
  width: 50px;
  height: 50px;
}
#board .player2 {
  background: url("/images/player2.png") no-repeat -150px -150px;
}
#board .player3 {
  background: url("/images/player3.png") no-repeat -150px -150px;
}
#board .player4 {
  background: url("/images/player4.png") no-repeat -150px -150px;
}
#board .player5 {
  background: url("/images/player5.png") no-repeat -150px -150px;
}
#board .player6 {
  background: url("/images/player6.png") no-repeat -150px -150px;
}
#board .missile {
  background-color: #f00;
  position: absolute;
  width: 50px;
  height: 50px;
  -webkit-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -o-transition: all 100ms linear;
  -ms-transition: all 100ms linear;
  transition: all 100ms linear;
}
.scores {
  background-color: #555;
}
#identify {
  background: url("/images/bg.jpg");
  border: solid 5px #333;
  min-height: 600px;
}
#identify .menu {
  -webkit-transition: all 500ms linear;
  -moz-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  -ms-transition: all 500ms linear;
  transition: all 500ms linear;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  margin-left: 10px;
}
#identify .menu.show {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
#identify .menu .error {
  font-size: 18px;
  color: #f33;
  font-weight: bold;
}
#identify .menu .avatar {
  float: left;
  width: 40px;
  height: 40px;
  margin: 5px;
  border: solid 3px transparent;
}
#identify .menu .avatar.player1 {
  background: url("/images/player1.png") no-repeat center bottom;
}
#identify .menu .avatar.player2 {
  background: url("/images/player2.png") no-repeat center bottom;
}
#identify .menu .avatar.player3 {
  background: url("/images/player3.png") no-repeat center bottom;
}
#identify .menu .avatar.player4 {
  background: url("/images/player4.png") no-repeat center bottom;
}
#identify .menu .avatar.player5 {
  background: url("/images/player5.png") no-repeat center bottom;
}
#identify .menu .avatar.player6 {
  background: url("/images/player6.png") no-repeat center bottom;
}
#identify .menu .avatars .avatar:hover,
#identify .menu .avatars .avatar.selected {
  border: solid 3px #faa;
}
#identify .menu .name {
  clear: both;
}
#identify .menu .name input {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
#identify .menu .players .player {
  clear: both;
}
#identify .title {
  display: block;
  margin: 0px auto;
  position: absolute;
  top: -400px;
  right: 150px;
  -webkit-transition: all 1200ms linear;
  -moz-transition: all 1200ms linear;
  -o-transition: all 1200ms linear;
  -ms-transition: all 1200ms linear;
  transition: all 1200ms linear;
}
#identify .title.intro,
#identify .title.show {
  top: 100px;
}
#intro {
  background: url("/images/bg.jpg");
  border: solid 5px #333;
  height: 600px;
}
