
carbon = url(/images/carbon_fibre.png) #333
//aluminum = url(/images/brushed_alu_dark.png) #888
aluminum = #888

body, html
  padding 0px
  margin 0px
  background carbon
  font-family "Helvetica"

.version
  position absolute
  bottom 0px
  left 0px
  color white
  font-weight bold


#game
  margin 0px
  padding 0px

  .side
    width 130px
    margin 10px
    position absolute
    left 0px
    top 0px

  .logo
    position relative
    background aluminum
    margin-bottom 10px
    padding 4px
    color white
    font-weight bold

  .content
    margin-left 10px
    position absolute
    left 130px

  .alerts
    margin 10px
    background-color #FFF
    padding-top 5px
    padding-bottom 5px
    .label
      background aluminum
      padding 5px
      color white
    .alert
      display inline-block

  #board
    margin 10px
    background url(/images/bg3.png) repeat
    box-shadow(inset 0px 0px 50px 0px rgba(0, 0, 0, 0.8))
    width 800px
    height 600px
    position relative
    outline none // removes the selected highlight

    .winner
      position absolute
      display block
      border solid 3px #333
      background-color white
      padding 20px
      right 10px
      bottom -10px

    .taunt
      position absolute
      left 50px
      top -20px
      min-width 150px

    .player
      -webkit-transition-property top, left
      transition-property top, left
      -ms-transition-property top, left
      -o-transition-property top, left
      transition-duration(500ms)
      position absolute
      width 50px
      height 50px

    .missile
      position absolute
      width 50px
      height 50px
      background url(/images/rocket.png) no-repeat 0px 0px
      transition(all 100ms linear)

    .missile.down
      transform rotate(270deg)

    .missile.right
      transform rotate(180deg)

    .missile.up
      transform rotate(90deg)

.scores
  background-color #555


.leaderboard
  width 130px

.playerCard
  position relative
  background aluminum

  padding 10px
  margin-bottom 10px
  .name
    background-color white
    padding 5px
  .avatarbg
    border solid 2px black
    float left
    background-color white
    margin-top 5px
    height 60px
  .avatar
    margin-top 5px
    width 50px
    height 50px
  .score
    margin-top 5px
    margin-left 60px
    position relative
    width 50px
    height 65px
    background-color white
    .label
      background-color #333
      padding 5px
      color white
      font-size 12px
    .num
      text-align center
      font-size 30px
      font-weight bold
  &.dead 
    .status
      background-color rgba(0, 0, 0, 0.5)
      position absolute
      top 0px
      left 0px
      height 118px

    .skull
      background url(/images/dead.png) no-repeat center bottom
      opacity 0.6
      width 130px
      height 89px
      margin-top 16px


// Directions

.avatar, .avatar.player1
  background url(/images/player1.png) no-repeat center bottom

.avatar.player2
  background url(/images/player2.png) no-repeat center bottom

.avatar.player3
  background url(/images/player3.png) no-repeat center bottom

.avatar.player4
  background url(/images/player4.png) no-repeat center bottom

.avatar.player5
  background url(/images/player5.png) no-repeat center bottom

.avatar.player6
  background url(/images/player6.png) no-repeat center bottom

#identify
  background url(/images/bg3.png)
  box-shadow(inset 0px 0px 50px 0px rgba(0, 0, 0, 0.8))
  margin 10px
  min-height 600px

  .upgrade-link
    color white
    margin 10px

  .upgrade-button
    -moz-box-shadow inset 0px 1px 0px 0px #ffffff
    -webkit-box-shadow inset 0px 1px 0px 0px #ffffff
    box-shadow inset 0px 1px 0px 0px #ffffff
    background-color #78d34f
    background-image -webkit-gradient(linear, left top, left bottom, from(rgb(120, 211, 79)), to(rgb(62, 164, 38)))
    background-image -webkit-linear-gradient(top, rgb(120, 211, 79), rgb(62, 164, 38))
    background-image -moz-linear-gradient(top, rgb(120, 211, 79), rgb(62, 164, 38))
    background-image -o-linear-gradient(top, rgb(120, 211, 79), rgb(62, 164, 38))
    background-image -ms-linear-gradient(top, rgb(120, 211, 79), rgb(62, 164, 38))
    background-image linear-gradient(top, rgb(120, 211, 79), rgb(62, 164, 38))
    //filter progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#78d34f', EndColorStr='#3ea426')
    -moz-border-radius 6px
    -webkit-border-radius 6px
    border-radius 6px
    border 1px solid #3ea426
    display inline-block
    color #eee
    font-family arial
    font-size 15px
    font-weight bold
    padding 6px 24px
    text-decoration none
    text-shadow 1px 1px 0px #555

  .upgrade-button:hover 
    background -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3ea426), color-stop(1, #78d34f) )
    background -moz-linear-gradient( center top, #3ea426 5%, #78d34f 100% )
    //filter progid DXImageTransform.Microsoft.gradient(startColorstr='#3ea426', endColorstr='#78d34f')
    background-color:#3ea426

  .upgrade-button active 
    position relative
    top 1px

  .avatar.locked
    opacity 0.4

  img.lock-image
    float right
    padding-top 30px
    opacity 1


  .menu
    transition(all 500ms linear)
    opacity 0
    float left
    width 200px

    margin 10px
    background-color #333

    .join
      margin 10px
      font-size 40px
      width 180px

    &.show
      opacity 1

    .error
      font-size 18px
      color #F33
      font-weight bold
      margin 10px

    .avatarSelection
      margin 10px
      .avatar
        width 50px
        height 50px
        float left
        margin 3px
        &:hover, &.selected
          border solid 3px #FAA
          margin 0
      .avatar.locked
        &:hover, &.selected
          border none
          margin 3px
          

    .playerNameInput
      clear both
      margin 10px
      margin-bottom 0px
      input
        margin-top 10px
        font-size 15px
        -webkit-border-radius 10px
        -moz-border-radius 10px
        border-radius 10px
        padding-left 5px
        padding-right 5px

    .leaderboard
      clear both
      margin 10px
      margin-left 30px
      margin-bottom 20px

    .gameId
      position absolute
      right 0
      bottom 0

  .title
    display block
    margin 0px auto
    position absolute
    top -400px
    right 150px
    transition(all 1200ms linear)
    &.intro, &.show
      top 100px



////////////// For taunts /////////////
.triangle-border 
  position absolute
  padding 15px
  margin 1em 0 3em
  border 5px solid #335
  color #333 
  background #fff
  -webkit-border-radius 10px
  -moz-border-radius 10px
  border-radius 10px

.triangle-border.left 
  margin-left 30px

.triangle-border:before 
  content ""
  position absolute
  bottom -20px /* value = - border-top-width - border-bottom-width */
  left 40px  /* controls horizontal position */
  border-width 20px 20px 0
  border-style solid
  border-color #335 transparent
  /* reduce the damage in FF3.0 */
  display block  
  width 0 

/* creates the smaller  triangle */
.triangle-border:after 
  content ""
  position absolute
  bottom -13px /* value = - border-top-width - border-bottom-width */
  left 47px  /* value = (:before left) + (:before border-left) - (:after border-left) */
  border-width 13px 13px 0
  border-style solid
  border-color #fff transparent
  /* reduce the damage in FF3.0 */
  display block 
  width 0

/* creates the larger triangle */
.triangle-border.left:before 
  top 10px  /* controls vertical position */
  bottom auto 
  left -30px /* value = - border-left-width - border-right-width */
  border-width 15px 30px 15px 0
  border-color transparent #335


/* creates the smaller  triangle */
.triangle-border.left:after 
  top 16px /* value = (:before top) + (:before border-top) - (:after border-top) */
  bottom auto
  left -21px /* value = - border-left-width - border-right-width */
  border-width 9px 21px 9px 0
  border-color transparent #fff
/////////////////////////////////////////////////////////

