body, html
  padding 0px
  margin 0px
  background-color #333


#board
  margin 0 auto
  background url(/images/bg.jpg) repeat
  border solid 5px #333
  width 800px
  height 600px
  position relative
  outline none // removes the selected highlight

  .taunt
    position absolute
    left 50px
    top -20px
    min-width 150px

  .player
    -webkit-transition-property top, left
    transition-property top, left
    -ms-transition-property top, left
    -o-transition-property top, left
    transition-duration(500ms)
    background url(/images/player1.png) no-repeat -150px -150px
    position absolute
    width 50px
    height 50px

  .player2
    background url(/images/player2.png) no-repeat -150px -150px

  .player3
    background url(/images/player3.png) no-repeat -150px -150px

  .player4
    background url(/images/player4.png) no-repeat -150px -150px

  .player5
    background url(/images/player5.png) no-repeat -150px -150px

  .player6
    background url(/images/player6.png) no-repeat -150px -150px
    
  .missile
    background-color #f00 
    position absolute
    width 50px
    height 50px
    transition(all 100ms linear)

.scores
  background-color #555

#identify
  background url(/images/bg.jpg)
  border solid 5px #333
  min-height 600px
  
  .upgrade-link
    float left
    padding-top 50px
    clear both


  .menu
    transition(all 500ms linear)
    opacity 0

    margin-left 10px

    &.show
      opacity 1

    .error
      font-size 18px
      color #F33
      font-weight bold

    .avatar
      float left
      width 50px
      height 50px
      margin 3px

    .avatar.player1
      background url(/images/player1.png) no-repeat center bottom

    .avatar.player2
      background url(/images/player2.png) no-repeat center bottom

    .avatar.player3
      background url(/images/player3.png) no-repeat center bottom

    .avatar.player4
      background url(/images/player4.png) no-repeat center bottom

    .avatar.player5
      background url(/images/player5.png) no-repeat center bottom

    .avatar.player6
      background url(/images/player6.png) no-repeat center bottom

    .avatars
      .avatar
        &:hover, &.selected
          border solid 3px #FAA
          margin 0

    .name
      clear both
      input
        -webkit-border-radius 10px
        -moz-border-radius 10px
        border-radius 10px
        padding-left 5px
        padding-right 5px

    .players
      .player
        clear both

  .title
    display block
    margin 0px auto
    position absolute
    top -400px
    right 150px
    transition(all 1200ms linear)
    &.intro, &.show
      top 100px


#intro
  background url(/images/bg.jpg)
  border solid 5px #333
  height 600px


////////////// For taunts /////////////
.triangle-border 
  position absolute
  padding 15px
  margin 1em 0 3em
  border 5px solid #335
  color #333 
  background #fff
  -webkit-border-radius 10px
  -moz-border-radius 10px
  border-radius 10px

.triangle-border.left 
  margin-left 30px

.triangle-border:before 
  content ""
  position absolute
  bottom -20px /* value = - border-top-width - border-bottom-width */
  left 40px  /* controls horizontal position */
  border-width 20px 20px 0
  border-style solid
  border-color #335 transparent
  /* reduce the damage in FF3.0 */
  display block  
  width 0 

/* creates the smaller  triangle */
.triangle-border:after 
  content ""
  position absolute
  bottom -13px /* value = - border-top-width - border-bottom-width */
  left 47px  /* value = (:before left) + (:before border-left) - (:after border-left) */
  border-width 13px 13px 0
  border-style solid
  border-color #fff transparent
  /* reduce the damage in FF3.0 */
  display block 
  width 0

/* creates the larger triangle */
.triangle-border.left:before 
  top 10px  /* controls vertical position */
  bottom auto 
  left -30px /* value = - border-left-width - border-right-width */
  border-width 15px 30px 15px 0
  border-color transparent #335


/* creates the smaller  triangle */
.triangle-border.left:after 
  top 16px /* value = (:before top) + (:before border-top) - (:after border-top) */
  bottom auto
  left -21px /* value = - border-left-width - border-right-width */
  border-width 9px 21px 9px 0
  border-color transparent #fff
/////////////////////////////////////////////////////////

