body,
html {
  padding: 0px;
  margin: 0px;
  background-color: #333;
  font-family: "Helvetica";
}
.version {
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: #fff;
  font-weight: bold;
}
#game {
  margin: 0px;
  padding: 0px;
}
#game .side {
  width: 130px;
  margin: 10px;
  position: absolute;
  left: 0px;
  top: 0px;
}
#game .logo {
  position: relative;
  background-color: #888;
  margin-bottom: 10px;
}
#game .content {
  margin-left: 10px;
  position: absolute;
  left: 130px;
}
#game .alerts {
  margin: 10px;
  background-color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
}
#game .alerts .label {
  background-color: #888;
  padding: 5px;
}
#game .alerts .alert {
  display: inline-block;
}
#game #board {
  margin: 10px;
  background: url("/images/bg3.png") repeat;
  width: 800px;
  height: 600px;
  position: relative;
  outline: none;
}
#game #board .winner {
  position: absolute;
  display: block;
  border: solid 3px #333;
  background-color: #fff;
  padding: 20px;
  right: 10px;
  bottom: -10px;
}
#game #board .taunt {
  position: absolute;
  left: 50px;
  top: -20px;
  min-width: 150px;
}
#game #board .player {
  -webkit-transition-property: top, left;
  -webkit-transition-property: top, left;
  -moz-transition-property: top, left;
  -o-transition-property: top, left;
  -ms-transition-property: top, left;
  transition-property: top, left;
  -ms-transition-property: top, left;
  -o-transition-property: top, left;
  -webkit-transition-duration: 500ms;
  -moz-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  -ms-transition-duration: 500ms;
  transition-duration: 500ms;
  background: url("/images/player1.png") no-repeat -150px -150px;
  position: absolute;
  width: 50px;
  height: 50px;
}
#game #board .player2 {
  background: url("/images/player2.png") no-repeat -150px -150px;
}
#game #board .player3 {
  background: url("/images/player3.png") no-repeat -150px -150px;
}
#game #board .player4 {
  background: url("/images/player4.png") no-repeat -150px -150px;
}
#game #board .player5 {
  background: url("/images/player5.png") no-repeat -150px -150px;
}
#game #board .player6 {
  background: url("/images/player6.png") no-repeat -150px -150px;
}
#game #board .missile {
  position: absolute;
  width: 50px;
  height: 50px;
  background: url("/images/rocket.png") no-repeat 0px 0px;
  -webkit-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -o-transition: all 100ms linear;
  -ms-transition: all 100ms linear;
  transition: all 100ms linear;
}
#game #board .missile.down {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
#game #board .missile.right {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
#game #board .missile.up {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.scores {
  background-color: #555;
}
.playerCard {
  position: relative;
  background-color: #888;
  padding: 10px;
  margin-bottom: 10px;
}
.playerCard .name {
  background-color: #fff;
  padding: 5px;
}
.playerCard .avatarbg {
  border: solid 2px #000;
  float: left;
  background-color: #fff;
  margin-top: 5px;
  height: 60px;
}
.playerCard .avatar {
  width: 50px;
  height: 50px;
}
.playerCard .score {
  margin-top: 5px;
  margin-left: 60px;
  position: relative;
  width: 50px;
  height: 65px;
  background-color: #fff;
}
.playerCard .score .label {
  background-color: #333;
  padding: 5px;
  color: #fff;
  font-size: 12px;
}
.playerCard .score .num {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.playerCard.dead .status {
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  top: 0px;
  left: 0px;
  height: 118px;
}
.playerCard.dead .skull {
  background: url("/images/dead.png") no-repeat center bottom;
  opacity: 0.6;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  width: 130px;
  height: 89px;
  margin-top: 16px;
}
.avatar.player1 {
  background: url("/images/player1.png") no-repeat center bottom;
}
.avatar.player2 {
  background: url("/images/player2.png") no-repeat center bottom;
}
.avatar.player3 {
  background: url("/images/player3.png") no-repeat center bottom;
}
.avatar.player4 {
  background: url("/images/player4.png") no-repeat center bottom;
}
.avatar.player5 {
  background: url("/images/player5.png") no-repeat center bottom;
}
.avatar.player6 {
  background: url("/images/player6.png") no-repeat center bottom;
}
#identify {
  background: url("/images/bg3.png");
  border: solid 5px #333;
  min-height: 600px;
}
#identify .upgrade-link {
  float: left;
  padding-top: 50px;
  clear: both;
}
#identify .avatar {
  float: left;
  width: 50px;
  height: 50px;
  margin: 3px;
}
#identify .menu {
  -webkit-transition: all 500ms linear;
  -moz-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  -ms-transition: all 500ms linear;
  transition: all 500ms linear;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  margin-left: 10px;
}
#identify .menu.show {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
#identify .menu .error {
  font-size: 18px;
  color: #f33;
  font-weight: bold;
}
#identify .menu .avatars .avatar:hover,
#identify .menu .avatars .avatar.selected {
  border: solid 3px #faa;
  margin: 0;
}
#identify .menu .name {
  clear: both;
}
#identify .menu .name input {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
#identify .menu .players .player {
  clear: both;
}
#identify .menu .gameId {
  position: absolute;
  right: 0;
  bottom: 0;
}
#identify .title {
  display: block;
  margin: 0px auto;
  position: absolute;
  top: -400px;
  right: 150px;
  -webkit-transition: all 1200ms linear;
  -moz-transition: all 1200ms linear;
  -o-transition: all 1200ms linear;
  -ms-transition: all 1200ms linear;
  transition: all 1200ms linear;
}
#identify .title.intro,
#identify .title.show {
  top: 100px;
}
#intro {
  background: url("/images/bg3.png");
  border: solid 5px #333;
  height: 600px;
}
.triangle-border {
  position: absolute;
  padding: 15px;
  margin: 1em 0 3em;
  border: 5px solid #335;
  color: #333;
  background: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.triangle-border.left {
  margin-left: 30px;
}
.triangle-border:before {
  content: "";
  position: absolute;
  bottom: -20px;
/* value = - border-top-width - border-bottom-width */
  left: 40px;
/* controls horizontal position */
  border-width: 20px 20px 0;
  border-style: solid;
  border-color: #335 transparent;
/* reduce the damage in FF3.0 */
  display: block;
  width: 0;
}
/* creates the smaller  triangle */
.triangle-border:after {
  content: "";
  position: absolute;
  bottom: -13px;
/* value = - border-top-width - border-bottom-width */
  left: 47px;
/* value = (:before left) + (:before border-left) - (:after border-left) */
  border-width: 13px 13px 0;
  border-style: solid;
  border-color: #fff transparent;
/* reduce the damage in FF3.0 */
  display: block;
  width: 0;
}
/* creates the larger triangle */
.triangle-border.left:before {
  top: 10px;
/* controls vertical position */
  bottom: auto;
  left: -30px;
/* value = - border-left-width - border-right-width */
  border-width: 15px 30px 15px 0;
  border-color: transparent #335;
}
/* creates the smaller  triangle */
.triangle-border.left:after {
  top: 16px;
/* value = (:before top) + (:before border-top) - (:after border-top) */
  bottom: auto;
  left: -21px;
/* value = - border-left-width - border-right-width */
  border-width: 9px 21px 9px 0;
  border-color: transparent #fff;
}
