<div id="board" keypress="keypress(e)" ng-click="test()">

  <div class="player {{player.avatar}}" 
      ng-repeat="player in players.all | filter:{state:'alive'}"
      ng-style="player | position"
      sprite="player.sprite"
      sprite-facing="player.facing"
      >
  </div>
  <div ng-repeat="missile in missiles.allMissiles"> 
 	<div class="missile" ng-style="missile | position">*</div>
  </div>

  <!--<div>{{players.current}}</div>-->
</div>
<div class="statusmessage">[ {{players.gameStatusMessage}} ]</div>
<div class="scores">
	<ol>
		<li ng-repeat="player in players.all | orderBy:-player.wins">{{player.name}} {{player.wins}}W / {{player.losses}}L</li>
	</ol>
</div>