
<div id="game">

  <div class="side">
    <div class="logo">Underwater Adventure Rocket Bazooka Guys 2</div>

    <div class="leaderboard">
      <div class="playerCard {{player.state}}"
        ng-repeat="player in players.all | orderBy:'-wins'">
        <div class="name">{{player.name}}</div>
        <div class="avatarbg">
          <div class="avatar {{player.avatar}}"></div>
        </div>
        <div class="score"><div class="label">Points</div><div class="num">{{player.wins}}</div></div>
        <div class="status">
          <div class="skull"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="content">

    <div class="alerts">
      <span class="label">Bazooka NewsReel</span>
      <span class="alert">{{latestAlert}}</span>
    </div>

    <div id="board" keypress="keypress(e)" ng-click="test()">

      <h1 class="winner" ng-show="players.winner">"{{players.winner.name}}" Wins!</h1>

      <div class="player {{player.avatar}}" 
          ng-repeat="player in players.alivePlayers() | filter:{state:'alive'}"
          ng-style="player | position"
          sprite="player.sprite"
          sprite-facing="player.facing"
          sprite-walking="player.walking"
          >
        <div class="taunt triangle-border left" ng-show="players.taunt">{{players.taunt}}</div>
      </div>
      <div ng-repeat="missile in missiles.allMissiles"> 
      <div class="missile {{missile.direction}}" ng-style="missile | position"></div>
      </div>

    </div>

  </div>

  <div class="version">v{{version}}</div>

</div>
