<div id="identify">

  <div class="version">v{{version}}</div>

  <div class="menu {{intro}}">
    <p>Choose a name and a character</p>

    <div class="avatars">
      <div 
        ng-repeat="name in avatars"
        class="avatar {{name}}" 
        ng-class="{selected: isPlayerAvatar(name)}"
        ng-click="selectAvatar(name)"
      ></div>
    </div>

    <div class="name">
      <input ng-model="player.name" placeholder="Your Name">
    </div>
   
    <div>
      <button ng-click="join()">Join</button>
    </div>

    <div class="error" ng-show="error">{{error}}</div>

    <div>{{players.all.length}} Players</div>
    <div class="players">
      <div class="player" ng-repeat="player in players.all">
        <div class="avatar {{player.avatar}}"></div>
        <span class="name">{{player.name}}</span>
        <span class="state">({{player.state}})</span>
        <span class="wins">{{player.wins}} Wins</span>
      </div>
    </div>

    <div class="gameId">
      <input ng-model="gameId">
    </div>

    <div class="upgrade-link"><span ng-hide="players.isPaid" ><a href="https://spb.io/s/osgtq3F3kS">Pay $0.99 to unlock all features!</a></span><span ng-show="players.isPaid">Thank you for your support! {{players.isPaid}}</span></div>


  </div>
  

  <img 
    class="title {{intro}}" 
    src="/images/title.png">
</div>
